name: CI - Build, Test and Code Analysis

on:
  push:
    branches:
      - todo-8
  pull_request:
    branches:
      - todo-8

jobs:
  
  # Question 1: Build & Tests
  
  build-and-test:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        java-version: [11, 17]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up JDK ${{ matrix.java-version }}
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: ${{ matrix.java-version }}

      - name: Grant execute permission for Gradle wrapper
        run: chmod +x ./gradlew

      - name: Build project and run unit tests
        run: ./gradlew clean build

  # Question 2: Code Analysis
 
  code-analysis:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17

      - name: Grant execute permission for Gradle wrapper
        run: chmod +x ./gradlew

      - name: Run Checkstyle analysis
        run: ./gradlew checkstyleMain checkstyleTest
